#title{
    font-family: 'Gabarito', cursive;
    margin: auto;
    text-align: center;
    font-weight: 900; /* Boldest font and responsive font size. */
    font-size: 2.4vw; 
}

#sub-title{
    font-family: 'Gabarito', cursive;
    margin: auto;
    text-align: center;
    font-weight: 600; /* Medium boldness font and responsive font size. */
    font-size: 1.9vw; 
}

#text{
    font-family: 'Gabarito', cursive;
    margin: auto;
    text-align: center;
    font-weight: 400; /* No weight font and responsive font size. */
    font-size: 1.1vw; 
}

#reference{
    font-family: 'Gabarito', cursive;
    margin: auto;
    text-align: right;
    color: grey;
    font-weight: 400; /* No weight font and responsive font size. */
    font-size: 0.7vw; 
    padding-right: 1%;
}

.grey-block{
    background-color:rgb(219, 217, 217) ;
    color: black;
    width: 70%;
    border-radius: 15px;
    margin: auto; /* Creates a white block in center of screen that occupies 70% of the space. */
}

.white-block{
    display: table;
    background-color:white ;
    color: black;
    width: 98%;
    height: 98%;
    border-radius: 15px;
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto; /* Creates a white block in center of screen that occupies 70% of the space. */
    
}

.white-block-2{
    background-color:white ;
    color: black;
    width: 90%;
    height: 80%;
    border-radius: 15px;
    margin: 25px;
    margin-right: auto;
    margin-left: auto; /* Creates a white block in center of screen that occupies 70% of the space. */
    
}

.left{
    margin-left: 5%;
    padding: 1%;
    width: 44%;
    float: left;
}

.right{
    margin-right: 5%;
    padding: 1%;
    width: 44%;
    float: right;
}


